@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Everst Video Liabary</h1>
    <p class="lead">
        The application is to support the operations of Everest Video Library, specifically
        administration of the renting and returning of DVDs. The application described is simplified
        and is an incorrect representation of normal practice and/or legal requirements. Please
        implement the system as described in the specification rather than as in the real world where
        there is conflict between them. Everest Video Library uses computer system to manage the
        stock, loan and return of DVDs to members. To borrow a DVD from a shop, a customer must
        become a member of that shop.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login As Member</h2>
        <p>
           The member of this Liabary have to login in to this appplication to use further Function. 
        </p>
        <p><a class="btn btn-success" href="../member/login">Login Member &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register as member</h2>
        <p>The member of this Liabary have can register in to this appplication.</p>
        <p><a class="btn btn-primary" href="../member/signup">Register member &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login as office User</h2>
        <p>The office user perform specific task in app by login there account</p>
        <p><a class="btn btn-info" href="../officeuser/login">Office user Login &raquo;</a></p>
    </div>
</div>